/* main */
ul.tsc_list { margin:0; padding:6px 0; list-style:none;}
ul.tsc_list li { margin:0; padding:0 0 5px 22px; color:#222222; background-repeat:no-repeat; background-position:-67px -558px; font-size: 13px; background-image:url(../images/sprite_222222.png);}

/* style */
ul.tsc_li_arrow li,
ul li.tsc_li_arrow { background-position:-303px -322px;}
ul.tsc_li_comment li,
ul li.tsc_li_comment { background-position:-380px -242px;}
ul.tsc_li_bullet li,
ul li.tsc_li_bullet { background-position:-66px -558px;}
ul.tsc_li_minus li,
ul li.tsc_li_minus { background-position:-101px -520px;}
ul.tsc_li_check li,
ul li.tsc_li_check { background-position:-461px -163px;}
ul.tsc_li_plus li,
ul li.tsc_li_plus { background-position:-141px -480px;}
ul.tsc_li_carrow li,
ul li.tsc_li_carrow { background-position:-619px -3px;}
ul.tsc_li_star li,
ul li.tsc_li_star { background-position:-580px -44px;}